version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: quickstart_user
      POSTGRES_PASSWORD: quickstart_pw
      POSTGRES_DB: quickstart
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
